<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simtop.dao.ImageDao">
    <sql id="imageColumns">
        id,
        image_name,
        image_desc,
        create_time,
        last_edit_time,
        image_type_id,
        image_url
    </sql>
    <resultMap id="result" type="com.simtop.entity.Image">
        <id property="id" column="id"/>
        <result property="imageName" column="image_name"/>
        <result property="createTime" column="create_time"/>
        <result property="lastEditTime" column="lastEditTime"/>
        <result property="imageUrl" column="image_url"/>
        <result property="uploader" column="uploader"/>
        <association property="imageType" column="image_type_id" javaType="com.simtop.entity.ImageType">
            <id property="id" column="it.id"/>
            <result property="imageTypeName" column="image_type_name"/>
            <result property="createTime" column="create_time"/>
            <result property="lastEditTime" column="last_edit_time"/>
        </association>
    </resultMap>
    <resultMap id="result1" type="com.simtop.entity.Image">
        <id property="id" column="id"/>
        <result property="imageName" column="image_name"/>
        <result property="createTime" column="create_time"/>
        <result property="lastEditTime" column="lastEditTime"/>
        <result property="imageUrl" column="image_url"/>
        <association property="imageType" column="image_type_id" javaType="com.simtop.entity.ImageType">
            <id property="id" column="it.id"/>
        </association>
    </resultMap>
    <insert id="insert" parameterType="com.simtop.entity.Image">
        insert into tb_image(image_name, image_desc, create_time, last_edit_time, image_type_id, image_url,uploader)
        values(#{imageName},#{imageDesc},now(),now(),#{imageType.id},#{imageUrl},#{uploader})
    </insert>

    <!--查询所有信息时候，数据库返回的数据没有封装成功-->
    <!--前台页面没有显示素材分类name原因在于1没有使用resultMap，2关联项不需要使用it.image_type_name（别名）-->
    <select id="selectAll" resultMap="result">
        select i.id,i.image_name,i.image_desc,i.image_type_id,i.image_url,i.create_time,i.last_edit_time,i.uploader,it.image_type_name
        from tb_image i left join tb_image_type it
        on i.image_type_id=it.id
    </select>

    <!--根据前台传递过来的图片id（编号）进行查询-->
    <select id="selectById" parameterType="int" resultMap="result">
    select i.id,i.image_name,i.image_desc,i.image_type_id,i.image_url,i.create_time,i.last_edit_time,it.image_type_name,it.id "it.id"
    from tb_image i left join tb_image_type it
    on i.image_type_id=it.id where i.id=#{id}
    </select>
    <!--
        Image{id=1, imageName='测试', imageDesc='null', imageUrl='\upload\image\3\20190715174713_1554097_background.png',
        imageType=ImageType{id=1, imageTypeName='马赛克', createTime=Mon Jul 15 17:47:13 CST 2019,
        lastEditTime=Mon Jul 15 17:47:13 CST 2019}, createTime=Mon Jul 15 17:47:13 CST 2019, lastEditTime=null}
    -->
    <select id="selectImgUrlById" parameterType="int" resultType="String">
        select image_url from tb_image
        where id=#{id}
    </select>
    <update id="update" parameterType="com.simtop.entity.Image">
        update tb_image
        set image_name=#{imageName},image_desc=#{imageDesc},last_edit_time=now(),image_url=#{imageUrl}
        ,image_type_id=#{imageType.id}
        where id=#{id}
    </update>

    <delete id="removeById" parameterType="int">
        delete from tb_image
        where id=#{id}
    </delete>

    <select id="selectByParams" parameterType="com.simtop.vo.ImageParamsVo" resultType="com.simtop.entity.Image">
        select <include refid="imageColumns"></include>
        from tb_image
        <where>
            <if test="imageName!=null and imageName!=''">and image_name like concat(concat('%',#{imageName}),'%')</if>
            <if test="imageTypeId!=-1">and image_type_id=#{imageTypeId}</if>
        </where>
    </select>
</mapper>
  